<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.busanit501.androidlabtest501">
    <!-- 퍼미션 관련 설정 예 -->
    <!-- 전화 앱 퍼미션 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 미디어 정보 접근을 위한 퍼미션 변경 공식 문서 -->
    <!-- 전화 앱 퍼미션 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 연락처 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 외부 저장소 접근 권한 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- 외부 통신 하기위해서 인터넷 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- https://developer.android.com/about/versions/14/changes/partial-photo-video-access?hl=ko -->
    <!-- Devices running Android 12L (API level 32) or lower -->
    <!-- 알림 채널 관련 퍼미션 설정 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- <uses-permission android:name="android.permission.BATTERY_STATS"/> -->
    <!-- 진동 관련 퍼미션 추가 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ch18_network.retrofit.MyApplication2"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/travel_icon"
        android:label="@string/lunch_today"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLabTest501"
        tools:targetApi="31">
        <activity
            android:name=".ch18_network.PriceMainActivity"
            android:exported="false" />
        <activity
            android:name=".ch17_2_room.Ch17RoomMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch18_2_pagingTest.PagingTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch18_network.TestSpringActivity"
            android:exported="true" />
        <activity
            android:name=".ch18_network.PublicDataTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch18_network.NewsApiTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch18_network.HttpTestReqResActivity"
            android:exported="true" />
        <activity
            android:name=".ch17_SQLiteDB.DbTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch17_SQLiteDB.SharedPrefDetailTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch17_SQLiteDB.SharedPreferTestActivity"
            android:exported="true" />
        <activity
            android:name=".ch16_contentProvider.Ch16ImageLoadTestMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch16_contentProvider.Ch16ContactMainActivity"
            android:exported="true" /> <!-- <provider -->
        <!-- android:name=".ch16_contentProvider.MyContentProvider" -->
        <!-- android:authorities="com.busanit501.androidlabtest5" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.busanit501.androidlabtest501.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ch16_contentProvider.Ch16MultiImageRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".ch16_contentProvider.Ch16TestImageActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_intent.TestCoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_intent.TestBundleActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_intent.TestIntent2DetailActivity"
            android:exported="true" />
        <activity
            android:name=".ch13_intent.TestIntentActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.ch11_ch12_drawer_navi_faBtn_tab_appbar.tabTest.Ch11_12TabTestMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.ch11_ch12_drawer_navi_faBtn_tab_appbar.Ch11_Ch12_MixMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.viewpage2.adapter.Ch11Viewpager2TestFragmentMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.recyclerview.test1simple.Ch11MainRecyclerView1Activity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.fragmentSample.Ch11FragmentSampleMainActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.Ch11MainFragmentActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.Ch11MainToolBarActivity"
            android:exported="true" />
        <activity
            android:name=".ch11_jetpack.Ch11MainActionBarActivity"
            android:exported="true" />

        <receiver
            android:name=".ch10_dialog_permission.ReplyReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ch10_dialog_permission.OneReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ch10_dialog_permission.Ch10MainActivity"
            android:exported="true" />
        <activity
            android:name=".ch09_resources.Ch09MainActivity"
            android:exported="true" />
        <activity
            android:name=".ch08_event.Ch08MainEvent2Activity"
            android:exported="true" />
        <activity
            android:name=".ch08_event.Ch08MainEvent1Activity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07MainConstraintActivity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07MainGridActivity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07MainFrameActivity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07Main3RelaActivity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07Main3Activity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07Main2Activity"
            android:exported="true" />
        <activity
            android:name=".ch07_layout.Ch07MainActivity"
            android:exported="true" />
        <activity
            android:name=".miniProject.test0703.test0101_mini.Test0101JoinActivity"
            android:exported="false" />
        <activity
            android:name=".miniProject.test0703.lsy1205_mini.Lsy1205SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".miniProject.test0703.lsy1205_mini.Lsy1205MainActivity"
            android:exported="true" />
        <activity
            android:name=".miniProject.test0703.lsy1205_mini.Lsy1205LoginActivity"
            android:exported="true" />
        <activity
            android:name=".miniProject.test0703.lsy1205_mini.Lsy1205JoinActivity"
            android:exported="true" />
        <activity
            android:name=".ch06_view.Ch06Test2Activity"
            android:exported="true" />
        <activity
            android:name=".ch06_view.Ch06TestActivity"
            android:exported="true" />
        <activity
            android:name=".ch06_view.Ch6MainActivity"
            android:exported="true" /> <!-- 다른 화면을 따로 실행하고 싶으면, -->
        <!-- TestActivity 우클릭 하고 따로 실행. 주의사항, -->
        <!-- exported="true" 변경, 각각 실행됨. -->
        <activity
            android:name=".TestActivity"
            android:exported="true" /> <!-- 앱을 만들면, 기본 MainActivity 시작화면으로 지정. -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>